{% extends 'base.html' %}
{% block content %}
{% block title %}Group Page{% endblock title %}

 <h1>{{ group.title }}</h1>
    <p>{{ group.description }}</p>
    {% for post in posts %}
        <article class="col-3">
            <ul>
                <li>
                Автор: {{ post.author.get_full_name }}
                </li>
                <li>
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
                </li>
            </ul>
        </article>
    <p>{{ post.text }}</p>    
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
{% endblock %} 
